/* .banner{
    background-image: url('./../../assets/banner.png');
    
    background-position: center;
    background-size: 90% 85%;
    background-repeat: no-repeat;
    background-position: right;
   
} */
/* .banner{
    background-image: url('./../../assets/banner2.png');
    
    background-position: center;
    background-size: 70% 55%;
    background-repeat: no-repeat;
    background-position: top;
   
} */